# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Eclipse
.project
.classpath
.c9revisions
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
gen/
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/